/.bundle
/.env*
!/.env.example
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/public/assets
/public/vite*
/config/master.key
/config/credentials/*.key
/node_modules
/coverage
.DS_Store
*.local

/app/frontend/routes.js
/app/frontend/routes.d.ts
